body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-very-dark-blue);
}

main {
  display: grid;
  padding: 10rem 0;
  grid-template-columns: 90vw;
  grid-template-areas: "profile-card";
  gap: 2.5rem;
}

h1, h2, h3, button, input {
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

button {
  border-style: none;
  background: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  body {
    height: 100vh;
  }
  
  main {
    display: grid;
    grid-template-columns: 25rem 80rem;
    grid-template-areas: "profile-card card-wrapper";
  }  
}