body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-very-dark-blue);
}

main {
  display: grid;
  grid-template-columns: repeat(4, 24rem);
  grid-template-rows: repeat(2, 23rem);
  grid-template-areas: "profile-card work play study"
                       "profile-card exercise social self-care";
  gap: 2rem;
}

h1, h2, h3, button, input {
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

button {
  border-style: none;
  background: none;
  cursor: pointer;
}