body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-very-dark-blue);
}

main {
  display: grid;
  grid-template-columns: 25rem 80rem;
  grid-template-areas: "profile-card card-wrapper";
  gap: 2.5rem;
}

h1, h2, h3, button, input {
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

button {
  border-style: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 90vw;
    grid-template-areas: "profile-card"
                         "card-wrapper";
  }
}