.card-wrapper {
  display: grid;
  gap: 2.5rem;
}

.card-wrapper .top {
  display: grid;
  gap: 2.5rem;
}

.card-wrapper .bottom {
  display: grid;
  gap: 2.5rem;
}

@media screen and (min-width: 700px) {
  .card-wrapper .top {
    grid-auto-flow: column;
  }
  .card-wrapper .bottom {
    grid-auto-flow: column;
  }
}